{% extends '@App/Mail/layout.html.twig' %}
{% block body %}
  <table style="">
    <tr>
      <td><h1>{{ class }}: {{ message }}</h1></td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <h2>Information</h2>
        <ol>
          <li>Date: {{ 'now' | date("F jS \\a\\t g:ia") }}</li>
          {% if host and path %}
            <li>Path: <a href="{{ host }}{{ path }}"> {{ host }}{{ path }}</a></li>
          {% endif %}
          <li>Client ip: {{ ip }}</li>
          {% if user %}
            <li>User: {{ user }}</li>
          {% endif %}
          {% if file %}
            <li>File: {{ file }}</li>
          {% endif %}
          {% if line %}
            <li>Line: {{ line }}</li>
          {% endif %}
        </ol>
      </td>
    </tr>
  </table>
  {% if extra|length %}
    <table>
      <tr>
        <td>
          <h2>Extra</h2>
          <ol>
            {% for key, value in extra %}
              <li>{{ key }}: {{ dump(value) }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
  {% endif %}
  {% if get|length %}
    <table>
      <tr>
        <td>
          <h2>Get</h2>
          <ol>
            {% for key, value in get %}
              <li>{{ key }}: {{ dump(value) }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
  {% endif %}
  {% if post|length %}
    <table>
      <tr>
        <td>
          <h2>Post</h2>
          <ol>
            {% for key, value in post %}
              <li>{{ key }}: {{ dump(value) }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
  {% endif %}
  {% if session|length %}
    <table>
      <tr>
        <td>
          <h2>Session</h2>
          <ol>
            {% for key, value in session %}
              <li>{{ key }}: {{ dump(value) }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
  {% endif %}
  {% if headers|length %}
    <table>
      <tr>
        <td>
          <h2>Headers</h2>
          <ol>
            {% for key, value in headers %}
              <li>{{ key }}: {{ dump(value) }}</li>
            {% endfor %}
          </ol>
        </td>
      </tr>
    </table>
  {% endif %}
  <table>
    <tr>
      <td>
        <h2>Stack Trace</h2>
        <ol>
          {% for line in trace %}
            <li>{{ line }}</li>
          {% endfor %}
        </ol>
      </td>
    </tr>
  </table>
{% endblock %}